@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Inter Fallback", sans-serif;
  --font-instrument: "Instrument Serif", "Instrument Serif Fallback", serif;
  --font-recoleta: var(--font-recoleta-family), serif;
}
